footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
  }
  
  footer.show {
    opacity: 1; /* Show footer with smooth transition */
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  